html, body { margin:0px; width:100%; 
    overflow: hidden;
}

#map {
    width: 80%;
    /* height: 100%; */
    position: absolute;
    top:0;
    bottom:0;
}
#baseSwitcher {
	position: absolute;
	z-index: 900;
	top: 0px;
	right: 0px;
    bottom: 0px;
    overflow: auto;
	/* width: 200px;
	height: 500px; */
	/* outline: 1px solid gold; */
}

.baseSwatch {
	width: 190px;
	height:160px;
	z-index: 901;
	
	/* outline: 1px dotted green; */
}

